## *Data Science Tools and Ecosystem*

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1.   R
2.   C++
3.  Python
4. Jaba Script
5. SQL.
6. Java.
7. Scala.


Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2.  Pandas
3.  Scikit-learn.
4. TensorFlow

|Data Science Tools|
|---|
|HADOOP|
|Apache Spark|
|Spyder|
|R Studio|
|Zeppelin|

# Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
min = 200
hours = min / 60
print("240 minutes are equivalent to", hours, "hours")

240 minutes are equivalent to 3.3333333333333335 hours

**Objectives:**


- List of well known Data Science Tools
- List popular libraries for Data Science
- List popular languages for Data Science
- How to Provide comments in the cell
- Explaning Data Science Concepts
- Data Analysis Techniques

# AUTOR

Yaki Guerrero García ❤